.commission_section{
    padding-left:5%;
    padding-right:5%;
    margin-top: 75px;
    margin-bottom: 25px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: relative;
}
.commission_header{
    writing-mode: vertical-lr;
    font-size: 2.75vw;
    width: 10%;
    transform: rotate(180deg);
}
.commission_box{
    position: relative;
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    width: 100%;
    height: 15vw;
    overflow: hidden;
}
.concept_box{
    background-image: url(images/quantum.jpg);
    background-position: top 90% left 50%;
}
.scope_box{
    background-image: url(images/n1_mirrored.jpg);
}
.design_box{
    background-image: url(images/furniture.jpg);
}
.commission_label{
    position: absolute;
    text-align: left;
    top: 50%;
    left:-3vw;
    z-index: 2;
    font-size: 9vw;

    transform: translate(0%, -50%);

    background-image: linear-gradient(to right, #ffffff 0% 70%, #ffffff00 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
} 
.commission_number{
    position: absolute;
    text-align: center;
    top: 0%;
    left: 50%;
    z-index: 2;
    font-size: 9vw;

    transform: translate(-50%, -50%);

    background-image: linear-gradient(180deg, #ffffff 0% 50%, #ffffff00 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.commission_number_shadow{
    position: absolute;
    text-align: center;
    top: 0%;
    left: 50%;
    z-index: 1;
    font-size: 9vw;
    padding-left: 10px;
    padding-right: 10px;

    transform: translate(-50%, -50%);

    color: transparent;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}
.commission_description{
    background-color: white;
    position: relative;
    margin-top: 20px;
    margin-bottom: 75px;

    font-size: 1em;
    text-align:left;
    width: 100%;
    padding-left:14%;
    padding-right:5%;
}
.black_bar{
    position: absolute;
    width: 5vw;
    height: 1000vh;
    background-image: linear-gradient(180deg, black, rgba(0, 0, 0, 0));
    top:0;
    left: 50%;
    transform: translate(-50%,0%);
    z-index: -1;
}

@media screen and (max-width:1200px) {
    .commission_box{
        height: 20vw;
    }
    .commission_header{
        font-size:4vw;
    }
}
@media screen and (max-width:835px) {
    .commission_section{
        padding-left: 0%;
        padding-right: 0%;
    }
    .commission_description{
        font-size: 1em;
        text-align:left;
        width: 100%;
        padding-left:9%;
        padding-right:0%;
    }
}