/*General website appearances*/
* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: Jost-Regular;
    /* transition: 0.75s ease; */
  }
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
    font-size: 20px;
  }
  body {
    background-color: white;
    overflow-x: hidden;
  }
  @font-face {
    font-family: Jost-Regular;
    src: url(fonts/Jost-Regular.ttf);
  }
  @font-face {
    font-family: Jost-Thin;
    src: url(fonts/Jost-Thin.ttf);
  }
  p {
    color: #001b2e;
    font-size: 1em;
    text-align: center;
  }
  p.subheader {
    font-style: italic;
  }
  h1 {
    color: white;
    margin: auto;
    font-size: calc(12px + 1.5vw);
  }
  h2 {
    font-size: 2.5em;
    color: white;
    text-align: center;
    overflow: hidden;
    text-transform: uppercase;
  }
  .right_align{
    text-align: right;
  }
  img {
    width: 100%;
  }
  
  /* Lists */
  
  ul {
    list-style-image: url(/images/list_icon.png);
    font-size: 1em;
    text-align: left;
    display: inline-block;
  }
  .list_block {
    text-align: center;
  }
  
  /* Links */
  
  a {
    transition: 0.5s ease;
  }
  a.white_text:hover {
    color: #3a90f8;
  }
  
  /* Coloring */
  .orange {
    background-color: #ffb140;
  }
  .blue {
    background-color: #3a90f8;
  }
  .black {
    background-color: #001b2e;
  }
  .white_text {
    color: white;
  }
  .black_text {
    color: #001b2e;
  }
  .white_text{
    color: white;
  }
  .white{
    background-color: white;
  }
  .blue_text {
    color: #3a90f8;
  }
  
  /*Header*/
  
  .header {
    width: 100%;
    height: 15vw;
    justify-content: center;
    max-height: 150px;
    background-color: #001b2e;
    box-shadow: 10px 0px 10px #001b2e60;
    margin: 0%;
    padding: 1vw;
    display: flex;
    padding: 0vw 10vw 0vw 10vw;
  }
  .website_header_text {
    width: 40%;
    text-align: center;
  }
  .logo {
    height: 5vw;
    aspect-ratio: 1/1;
    /* border-radius: 50%; */
    /* background-color: #9DC7FB; */
    background-image: url(images/pfp_test_3.png);
    background-size: contain;
    background-repeat: no-repeat;
    align-self: center;
  }
  
  /*Menu*/
  
  .menu {
    height: 50px;
    display: flex;
    position: sticky;
    z-index: 100;
    top: 0%;
    justify-content: space-evenly;
    align-items: center;
    background-color: #001b2e;
    box-shadow: 0px 5px 5px #001b2e60;
  }

  #menu_thinscreen {
    display: none;
    height: 50px;
    width: 100%;
    position: sticky;
    z-index: 100;
    top: 0%;
    justify-content: space-evenly;
    align-items: center;
    background-color: #001b2e;
    box-shadow: 0px 5px 5px #001b2e60;
  }
  #hamburger {
    display: block;
    transition: 0.5s ease-in-out;
  }
  #close {
    display: none;
    transition: 0.5s ease-in-out;
  }
  i.menu_icon {
    font-size: 20px;
    padding: 15px;
    color: white;
  }
  .menu_icon:hover {
    cursor: pointer;
  }
  .menu_thinscreen_expanded {
    height: 200px;
    width: 100%;
    padding: 10px;
  }
  .large {
    box-sizing: border-box;
    height: 50px;
    padding: 15px;
    transition: 0.4s ease-in-out;
  }
  .small {
    box-sizing: border-box;
    height: 30px;
    padding: 10px;
    transition: 0.4s ease-in-out;
  }
  .tab {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    color: white;
    font-family: Jost-regular;
  }
  .tab_box {
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
  }
  :is(.large, .small):hover {
    transition: 0.5s ease;
    transform: scale(1.3);
    transition: 0.75s ease; 
  }
  
  /* Page Title Headers */
  
  /* .page_title_header {
    width: 100%;
    background-color: #ffb140;
    padding: 0px 15% 20px 15%;
  }
  .page_title_header > h2 {
    font-size: 50px;
    color: white;
    padding: 20px 0px 20px 0px;
    text-align: center;
    overflow: hidden;
  } */

  .page_title_header {
    position: relative;
    width: 100%;
    background-color: #ffb140;
    padding: 50px;
    overflow: hidden;
  }
  .page_title_header > h2 {
    font-size: 2.5em;
    color: white;
    text-align: center;
    overflow: hidden;
  }

  .page_title_header > p {
    font-size: 1em;
    text-align: center;
  }
  /* .page_title_header::after{
    content: "";
    background-color: white;
    width: 200%;
    aspect-ratio: 1/1;
    position: absolute;
    bottom: 0%;
    left: 0%;
    transform: translate(-50%, 97%);
    border-radius: 50%;
  } */
  .page_title_header_banner{
    width: 100%;
    height: 30px;
    overflow: hidden;
    position: relative;
  }
  .white_circle{
    background-color: #ffb140;
  }
  .white_circle::after{
    content: "";
    background-color: white;
    width: 6000px;
    aspect-ratio: 1/1;
    position: absolute;
    top: 0%;
    left: 200px;
    border-radius: 50%;
    transform: translate(-50%, 0%);
  } 
  .white_circle::before{
    content: "";
    background-color: white;
    width: 6000px;
    aspect-ratio: 1/1;
    position: absolute;
    top: 0%;
    left: 1895px;
    border-radius: 50%;
    transform: translate(-50%, 0%);
  } 
  .orange_circle{
    background-color: white;
  }
  .orange_circle::after{
    content: "";
    background-color: #ffb140;
    width: 6000px;
    aspect-ratio: 1/1;
    position: absolute;
    bottom: 0%;
    left: 1047px;
    border-radius: 50%;
    transform: translate(-50%, 0%);
  } 

  /* Symbol Key Box */
  
  

  .symbol_key_box {
    /* background-color: #001b2e;
    border-radius: 10px;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.2); */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 130px;
    padding: 12px;
    grid-column: span 1;
    transition: 0.75s ease;
    transition: 0.75s ease; 
    will-change: transform;
    align-items: center;
  }
  .symbol_key_box:hover {
    transform: scale(1.1);
  }
  .symbol_key_box:hover .key {
    transform: scale(1.2);
  }
  .symbol_key_box:hover .key_backdrop {
    background-color: #0653b1;
  }
  .symbol_key_box > p {
    font-size: 15px;
    color: black;
    font-family: Jost-regular;
    text-align: center;
    padding: 10px 0px 10px 0px;
    text-transform: uppercase;
  }
  .key_backdrop {
    width: 100%;
    aspect-ratio: 1/1;
    background-color: #3a90f8;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.505);
    transition: 0.75s ease;
  }
  .key {
    width: 50%;
    margin-left: 25%;
    transition: 0.75s ease;
  }
  
  /*Content, may change from page-to-page*/
  
  .content {
    position: relative;
    width: 100%;
    padding-top: 2vw;
    padding-left: 15%;
    padding-right: 15%;
    overflow-x: hidden;
    transition: 1s ease all;
  }
  .content_divider{
    width: 100%;
    height: 6px;
    background-image: linear-gradient(135deg, #001b2e 0% 5%, #3a90f8 5% 7%, #001b2e 7% 8%, #3a90f8 8% 10%, #001b2e 10% 11%, #3a90f8 11% 13%,  #001b2e 13% 100%);
  }
  .full_band {
    width: 100%;
  }
  
  /*Social Media Icons*/
  
  .social_media_bar {
    display: flex;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 2;
    /* background-color: #001b2e; */
    border-radius: 50px;
  }
  .social_media_button {
    width: 3vw;
    height: 3vw;
    min-width: 50px;
    min-height: 50px;
    position: relative;
    margin: 12.5px;
    filter: drop-shadow(10px 10px 10px #001b2e60);
  }
  .social_media_circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 0%;
    position: absolute;
    background-color: white;
    border: 4px solid #001b2e;
    transition: 0.35s ease-in-out;
    transform-origin: center bottom;
  }
  .social_media_button:hover .social_media_circle {
    transform: perspective(100rem) rotateX(60deg) scale(1.1);
  }
  .social_media_button:hover .smlogo {
    transform: scale(1.2) translateY(-40%);
  }
  .smlogo {
    width: 60%;
    margin: 20%;
    transition: transform 0.5s ease-in-out;
    filter: drop-shadow(2px 2px 2px #001b2e60);
  }
  
  /*Responsive Media Queries*/
  
  @media screen and (max-width: 1200px) {

    .menu {
      display: none;
    }

    #menu_thinscreen {
      display: block;
      overflow: hidden;
      text-align: center;
      transition: 1s ease all;
    }

    .tab {
      margin: 0%;
      padding-top: 10px;
    }

    .content {
      width: 100%;
      padding-left: 7%;
      padding-right: 7%;
    }
    .logo{
      display: none;
    }
    .jump{
      display: none;
    }

  }

  .page_footer_banner{
    width: 100%;
    height: 30px;
    overflow: hidden;
    position: relative;
  }
  .page_footer_banner.white_circle{
    background-color: white;
    margin-top: 250px;
  }
  .page_footer_banner.white_circle::after{
    content: "";
    background-color: #ffb140;
    width: 6000px;
    aspect-ratio: 1/1;
    position: absolute;
    top: 0%;
    right: 200px;
    border-radius: 50%;
    transform: translate(-50%, 0%);
  } 
  .page_footer_banner.white_circle::before{
    content: "";
    background-color: #ffb140;
    width: 6000px;
    aspect-ratio: 1/1;
    position: absolute;
    top: 0%;
    right: 1895px;
    border-radius: 50%;
    transform: translate(-50%, 0%);
  } 
  .page_footer_banner.orange_circle{
    background-color: #ffb140;
  }
  .page_footer_banner.orange_circle::after{
    content: "";
    background-color: white;
    width: 6000px;
    aspect-ratio: 1/1;
    position: absolute;
    bottom: 0%;
    right: 1047px;
    border-radius: 50%;
    transform: translate(-50%, 0%);
  } 

  .page_footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    background-color: #ffb140;
    height: 250px;
    padding: 50px;
  }
  .footer_header{
    color: white;
    font-size: 1em;
    text-align: left;
  }
  .footer_list{
    list-style-type: none;
    padding-right: 25px;
  }
  .footer_list> li > a{
    color: white;
    text-decoration: none;
    font-family: Jost-Regular;
    text-transform: uppercase;
  }
  .jump{
    text-align: center;
    text-decoration: none;
  }
  .jump > p{
    color: white;
  }

  @media screen and (max-width: 835px) {
    .social_media_bar {
      display: none;
    }
    .page_title_header{
      padding: 7%;
    }
  }
  @media screen and (max-width: 500px) {
    
    html{
      font-size: 15px;
    }
    
  }
  