.project_categories{
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    margin: auto;
}
.category{
}
.category_image{
    display: block;
    margin: auto;
    width: 7.5vw;
    min-width: 100px;
    border-radius: 50%;
    aspect-ratio: 1/1;
}
.category_title{
    text-align: center;
    text-transform: uppercase;
}
.project{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-left: 17vw;
    padding-top: 100px;
    padding-bottom: 125px;
    padding-right: 17vw;
}
.bii{
    padding-left: 10vw;
    padding-right: 10vw;
}
.bii_logo{
    grid-column: 12/13;
    grid-row: 2/5;
    width: 15vw;
}
.bii_snapshot{
    grid-column: 1/6;
    grid-row: 3/6;
    z-index: 1;
    position: relative;
    filter: blur(1px);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.249);

}
.bii>h3{
    grid-column: 4/11;
    grid-row: 1/2;
    font-size: 2em;
    text-align: center;
}
.bii>.description{
    position: relative;
    grid-column: 4/11;
    grid-row: 2/5;
    text-align: justify;
    padding-top: 25px;
    padding-bottom: 25px;
    z-index: 2;
}
.join{
    position: relative;
    z-index: 2;
    grid-column: 12/13;
    grid-row: 5/6;
    text-transform: uppercase;
    font-size: 0.8em;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    margin: auto;
    display: inline-block;
    width: fit-content;
    transition: ease 0.5s;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.249);

}
.join:hover{
    transform:scale(1.05);
    background-color: #008F3C;
}
.join>a{
    color: white;
    text-decoration: none;
}
.kickback{
    padding-left: 10vw;
    padding-right: 10vw;
}
.kickback_logo{
    border-radius: 50%;
    grid-column: 3/4;
    grid-row: 5/7;
    width: 15vw;
}
.kickback_stack{
    grid-column: 10/13;
    grid-row: 2/7;
    z-index: 1;
    position: relative;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.kickback_image_1{
    grid-column: 3/8;
    grid-row: 1/5;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.249);
}
.kickback_image_2{
    grid-column: 2/7;
    grid-row: 2/6;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.249);
}
.kickback_image_3{
    grid-column: 1/6;
    grid-row: 3/7;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.249);
}

.kickback>h3{
    grid-column: 2/9;
    grid-row: 1/2;
    font-size: 2em;
    text-align: center;
}
.kickback>.description{
    position: relative;
    grid-column: 2/9;
    grid-row: 2/5;
    text-align: justify;
    padding-top: 25px;
    padding-bottom: 25px;
    z-index: 2;
}

@media screen and (max-width:1200px) {
    .project_categories{
        flex-direction: column;
    }
    .kickback_stack{
        padding-left: 15%;
        padding-right: 15%;
    }
    .project{
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .bii_logo{
        order: 1;
        display: inline-block;
        margin: auto;
        width: 50%;
    }
    .bii>h3{
        order: 2;
    }
    .bii_snapshot{
        display: none;
    }
    .bii>.description{
        order: 3;
    }
    .join{
        order: 4;
    }
}